@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');


/* common style start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
text-transform: capitalize;
font-family: 'Zen Loop', cursive;
font-size: 18px;

}
a{
    text-decoration: none;
    color: white;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
/* common style end */




/* header section css start */

.img{
    width: 490px;
    transition: transform 0.2s ease-in;

}
.img:hover{
    transform: translatex(-15px) 

}
.main-text{
color: white;
font-weight: 700;
}
.btn{
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(212, 37, 89);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    transition: transform 0.2s ease-in;

}
.btn:hover{
    background-color: rgb(64, 185, 201);
    transform: translatex(-15px) 
   

}
.container {
background-color: rgb(86, 86, 209);
height: 400px;
padding: 0 30px;
margin-bottom: 50px;

}
.container:hover{
    background-color: rgb(44, 41, 179);
    transform: translatey(-15px) 

}
.flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

/* header section css end */



/* 
main sectaion css start */

.player-img{
width: 250px;
height: auto;
border-radius: 10px;
transition: transform 0.2s ease-in;

}

.players{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px;
color: black;
margin-bottom: 30px;
justify-content: center;
}
.player-card{
    color: black;
    transition: transform 0.2s ease-in;
justify-content: center;
width: 270px;
padding: 3px 3px 10px 7px;
box-shadow: 1px 2px 5px rgb(10, 7, 7);

}
.player-card:hover{
    transform: translatey(-15px) 

}
.text{
    color: black;
    line-height: 1.5em;
    font-weight: 900;
}
.text h1{
    font-size: 40px;
    font-weight: bold;
}
/* 
main sectaion css end */




/* extra style start */
.extra-card{
    padding: 0 150px;
    display: flex;
    margin-bottom: 30px;
}

.info{
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px rgb(10, 7, 7);
    color: black;
    font-weight: 900;
    transition: transform 0.2s ease-in;

}
.center{
    align-items: center;
    text-align: center;
}
.cartoon{
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;

}
.info:hover{
    transform: translatex(-15px) 

}
.ratting{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(238, 81, 8);
}
.black{
    color: black;
}
.name{
    font-size: 30px;
}
/* extra style end */
/* footer style start */

.logo{
    width: 300px;
}
.main-footer{
    position: relative;
    height: 100px;
    margin-bottom: 50px;
    transition: transform 0.2s ease-in;

}
.main-footer:hover{

    transform: translatey(-15px) 

}
.icon{
    text-align: center;
    align-items: center;
}
/* 
footer style start end */


/* @media screen  start */
@media (max-width:1440px){
    .player-card{
        margin-left: 40px;
    }
}
@media (max-width:1024px) {
    .container {
        height: 670px;
        }
        .flex{
            grid-template-columns: repeat(2,1fr);
        }
        .text-area{
            margin-left: 30px;
        }
        .players{
           
            grid-template-columns: repeat(2,1fr);
           margin-left: 100px;        
            }       
           .extra-card{
               padding: 0px 0px 0px 10px;
           }
}
@media (max-width:667px) {
    .container {
        height: 670px;
        }
        .flex{
            grid-template-columns: repeat(1,1fr);
        }
        .text-area{
            margin-left: 30px;
        }
        .players{
           
            grid-template-columns: repeat(1,1fr);
           margin-left: 100px;          
        }        
           .extra-card{
               padding: 0px 0px 0px 10px;
           }
}







/* @media(max-width:768px){
    .players{
        padding: 0 150px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        color: black;
        margin-bottom: 30px;
        }
   } */


/* @media screen  end */















